@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur Immo App</h1>
    <p>Vous pouvez commencer à utiliser l'application à partir de la barre navigation en haut.</p>
</div>
