@model Immo_App.Core.Models.Apartment.AddApartmentViewModel
@{
    ViewData["Title"] = "Ajouter appartement";
}

<h1 class=" mb-4">Ajouter un nouvel appartment</h1>

<form method="post" action="Add">
    <div class="form-group mt-3">
        <label for="address">Adresse</label>
        <input type="text" class="form-control" id="address" placeholder="Adresse de l'appartement" asp-for="address">
    </div>

    <div class="form-group mt-3">
        <label for="address_complement">Complément d'adresse</label>
        <input type="text" class="form-control" id="address_complement" placeholder="Complément d'adresse" asp-for="address_complement">
    </div>

    <div class="form-group mt-3">
        <label for="city">Ville</label>
        <input type="text" class="form-control" id="city" placeholder="Ville" asp-for="city">
    </div>

    <div class="form-group mt-3">
        <label for="zip_code">Code postal</label>
        <input type="text" class="form-control" id="zip_code" placeholder="Code postal" asp-for="zip_code">
    </div>
    <button type="submit" class="btn btn-primary mt-4">Envoyer</button>
</form>