@model Immo_App.Core.Models.Payment.AddPaymentViewModel
@{
}

<h1 class=" mb-4">Ajouter un nouveau paiement</h1>

<form method="post" action="Add">
    <div class="form-group mt-3">
        <label for="date_payment">Date</label>
        <input value="" type="date" class="form-control" id="date_payment" asp-for="date_payment" required>
    </div>

    <div class="form-group mt-3">
        <label for="amount">Montant</label>
        <input type="text" class="form-control" id="amount" asp-for="amount" required>
    </div>

    <div class="form-group mt-3">
        <label for="origin">Type de facture</label>
        <select class="form-control" id="origin" asp-for="origin" required>
            <option>Locataire</option>
            <option>Caisse d’allocation familiale</option>
        </select>
    </div>

    <div class="form-group mt-3">
        <label for="fk_invoice_id">Facture concernée</label>
        <select class="form-control" id="fk_invoice_id" asp-for="fk_invoice_id" required>
            <option value="">Selectionner une facture</option>
            @foreach (var invoice in Model.invoices)
            {
                <option value="@invoice.id">Facture N°@invoice.id - @invoice.date_invoice.ToString("dd/MM/yyyy") @invoice.amount€</option>
            }
            @if (!Model.invoices.Any())
            {
                <option value="">Aucune facture disponible</option>
            }
        </select>
    </div>

    <div class="form-group mt-3">
        <label for="fk_rental_contract_id">ID du contrat de location</label>
        <input type="text" value="@Model.fk_rental_contract_id" class="form-control" id="fk_rental_contract_id" asp-for="fk_rental_contract_id" readonly>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Envoyer</button>
</form>