@model Immo_App.Core.Models.Invoice.AddInvoiceViewModel
@{
    ViewData["Title"] = "Ajouter facture";
}

<h1 class=" mb-4">Ajouter une nouvelle facture</h1>

<form method="post" action="Add">
    <div class="form-group mt-3">
        <label for="date_invoice">Date</label>
        <input value="" type="date" class="form-control" id="date_invoice" asp-for="date_invoice" required>
    </div>

    <div class="form-group mt-3">
        <label for="amount">Montant</label>
        <input value="@Model.rent_charges_sum" type="text" class="form-control" id="amount" asp-for="amount" required>
    </div>

    <div class="form-group mt-3">
        <label for="type">Type de facture</label>
        <select class="form-control" id="type" onchange="updateAmount()" asp-for="type" required>
            <option>Loyer</option>
            <option>Dépôt de garantie</option>
        </select>
    </div>

    <div class="form-group mt-3">
        <label for="fk_rental_contract_id">ID du contrat de location</label>
        <input type="text" value="@Model.fk_rental_contract_id" class="form-control" id="fk_rental_contract_id" asp-for="fk_rental_contract_id" readonly>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Envoyer</button>
</form>

<script>
    function updateAmount() {
        type = document.getElementById("type").value;

        if (type == "Dépôt de garantie") {
            document.getElementById("amount").value = @Model.deposit_price;
            document.getElementById("amount").readOnly = true;
        }
        else 
        {
            document.getElementById("amount").value = @Model.rent_charges_sum;
            document.getElementById("amount").readOnly = false;
        }
    }
    // Run the function at page load in case the user reloads the page with the type already changed
    updateAmount();
</script>